body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #12232E;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #444;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}


nav {
    text-align: center;
    background-color: rgba(68, 68, 68, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 58px; /* Adjust the top position based on the header height */
    left: 0;
    width: 100%;
    z-index: 2; /* Set a higher z-index value */
}

nav li {
    display: inline;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
}

nav a:hover {
    background-color: #333333b9;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

nav a.active {
    background-color: #333333b9;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

nav a.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 5px;
    background-color: #4CAF50;
    transform: translateX(-50%);
    border-radius: 5px;
}
/* 
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("Rubik\'s-solver.jpeg");
    min-height: 75%;
    /* filter: grayscale(75%); */
/* } */ */
main {
    max-width: 800px;
    margin: 20px auto;
    
}

/* section {
    margin-bottom: 20px;
    background-color: #12232E;
} */

#link {
    color: rgb(255, 191, 0);
}

.bgimg{
    width: 100%;
    height: auto;
    filter: brightness(0.3);
}

.informatie-home {
    position: absolute;
    top: 99%; /* Adjust the top position based on your layout */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust the width based on your layout */
    text-align: center;
    color: white;
    /* background-color: rgba(31, 98, 142, 0.7);
    border-radius: 25px; */
}

.informatie {
    position: absolute;
    top: 1000px; /* Adjust the top position based on your layout */
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust the width based on your layout */
    text-align: center;
    background-color: rgba(31, 98, 142, 0.7);
    border-radius: 25px;
}

.text-midden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#grote-tekst {
    position: static;
}

#door-wie {
    font-size: 40px;
}

#info {
    color: #e8f1f8;
    font-size: 16px; /* Adjust the font size to your preference */
    font-weight: bold;
    line-height: 1.4;
}

.text-wit {
    color: #fff !important;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
/* 
section.home{
    margin: 20px;
} */

.rounded-box-home {
    text-align: center;
    position: absolute;
    top: 1000px; /* Adjust the top position based on your layout */
    left: 490px; /* Adjust the left position based on your layout */
    width: 900px; /* Adjust the width based on your layout */
    /* text-align: center; */
    background-color: rgba(31, 98, 142, 0.9);
    border-radius: 25px;
    padding: 20px; /* Adjust the padding based on your layout */
    padding-left: 30px;
    color: white;
}
.rounded-box-ontwerp {
    position: absolute;
    top: 150px; /* Adjust the top position based on your layout */
    left: 100px; /* Adjust the left position based on your layout */
    width: 450px; /* Adjust the width based on your layout */
    /* text-align: center; */
    background-color: rgba(31, 98, 142, 0.9);
    border-radius: 25px;
    padding: 10px; /* Adjust the padding based on your layout */
    padding-left: 30px;
    color: white;
}

.rounded-box-bouwen {
    position: absolute;
    top: 150px; /* Adjust the top position based on your layout */
    left: 100px; /* Adjust the left position based on your layout */
    width: 450px; /* Adjust the width based on your layout */
    /* text-align: center; */
    background-color: rgba(31, 98, 142, 0.9);
    border-radius: 25px;
    padding: 20px; /* Adjust the padding based on your layout */
    padding-left: 30px;
    color: white;
}

.rounded-box-bouwen2 {
    position: absolute;
    top: 850px; /* Adjust the top position based on your layout */
    left: 100px; /* Adjust the left position based on your layout */
    width: 450px; /* Adjust the width based on your layout */
    /* text-align: center; */
    background-color: rgba(31, 98, 142, 0.9);
    border-radius: 25px;
    padding: 20px; /* Adjust the padding based on your layout */
    padding-left: 30px;
    color: white;
}

.rounded-box-programmeren {

    position: absolute;
    top: 200px; /* Adjust the top position based on your layout */
    left: 100px; /* Adjust the left position based on your layout */
    width: 500px; /* Adjust the width based on your layout */
    /* text-align: center; */
    background-color: rgba(31, 98, 142, 0.9);
    border-radius: 25px;
    padding: 20px; /* Adjust the padding based on your layout */
    padding-left: 30px;
    color: white;
}

.rounded-box h3 {
    margin: 0; /* Remove default margin for h3 */
}

.rounded-box-media {

    position: absolute;
    top: 200px; 
    left: 100px; 
    width: 500px; 
    background-color: rgba(31, 98, 142, 0.9);
    border-radius: 25px;
    padding: 20px;
    padding-left: 30px;
    color: white;
}

.mediatekst {
    line-height: 120%;
}

.rounded-box h3 {
    margin: 0; /* Remove default margin for h3 */
}

.tekstdoorsnede {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 500px;
    left: 820px;
    
}

.fotodoorsnede {
    position: absolute;
    top: 150px;
    left: 710px;
    width: 400px;
    border-radius: 30px;
    /* height: auto; */
}

.fotorobot {
    position: absolute;
    top: 150px;
    left: 1300px;
    width: 360px;
    border-radius: 30px;
    /* height: auto; */
}

.tekstrobot {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 555px;
    left: 1375px;
}

.fotozijkanten {
    position: absolute;
    top: 600px;
    left: 1310px;
    width: 340px;
    border-radius: 30px;
}

.tekstzijkanten {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 900px;
    left: 250px;
}

.fotocentercap {
    position: absolute;
    top: 405px;
    left: 100px;
    width: 450px;
    border-radius: 30px;
}

.tekstcentercap {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 900px;
    left: 1365px;
}

.foto3D {
    position: absolute;
    top: 565px;
    left: 700px;
    width: 460px;
    border-radius: 30px;
}

.tekst3D {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 900px;
    left: 840px;
}

.fotoaansluitingen {
    position: absolute;
    top: 0px;
    left: 600px;
    width: 600px;
    border-radius: 30px;
}

.tekstaansluitingen {
    /* font-size: small; */
    text-align: center;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 430px;
    left: 750px;
    width: 500px;
}

.fotosoldeerbord {
    position: absolute;
    top: 340px;
    left: 600px;
    width: 600px;
    border-radius: 30px;
}

.tekstsoldeerbord {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 840px;
    left: 950px;
}

.fotorobot1zijde {
    position: absolute;
    top: 150px;
    left: 1360px;
    width: 440px;
    border-radius: 30px;
}

.tekstrobot1zijde {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 730px;
    left: 1550px;
}

.fotorobotnietaf {
    position: absolute;
    top: 790px;
    left: 1360px;
    width: 440px;
    border-radius: 30px;
}

.tekstrobotnietaf {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 1330px;
    left: 1500px;
}

.fotooverzicht {
    position: absolute;
    top: 890px;
    left: 700px;
    width: 600px;
    border-radius: 30px;
}

.tekstoverzicht {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 1330px;
    left: 870px;
}

.fotogui {
    position: absolute;
    top: 200px;
    left: 1200px;
    width: 600px;
    border-radius: 30px;
}

.tekstgui {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 523px;
    left: 1425px;
}


.fotoguihussel {
    position: absolute;
    top: 560px;
    left: 700px;
    width: 600px;
    border-radius: 30px;
}

.tekstguihussel {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 890px;
    left: 850px;
}

.Clogo {
    position: absolute;
    top: 560px;
    left: 1400px;
    width: 300px;
    border-radius: 30px;
}

.tekstC {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 890px;
    left: 1535px;
}

.pythonlogo {
    position: absolute;
    top: 200px;
    left: 800px;
    width: 300px;
    border-radius: 30px;
}

.tekstpython {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 490px;
    left: 920px;
}

.fotopsu {
    position: absolute;
    top: 600px;
    left: 100px;
    width: 450px;
    border-radius: 30px;
}

.tekstpsu {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 930px;
    left: 175px;
}

.fotohoek {
    position: absolute;
    top: 180px;
    left: 800px;
    height: 380px;
    border-radius: 30px;
}

.teksthoek {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 550px;
    left: 800px;
}

.programmeren-tekst {
    font-size: medium;
}

.langevideo {
    position: absolute;
    top: 20%;
    left: 65%;
}

.kortevideo {
    position: absolute;
    top: 61%;
    left: 65%;
}

.tijdvideo {
    position: absolute;
    top: 61%;
    left: 32%;
}

/* .bouwen-tekst {
    font-weight: bold;
} */

footer {
    text-align: center;
    padding: 7px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
